NODE_ENV=development
PORT=3000

# Database
DB_HOST=database
DB_PORT=5432
DB_USER=autoflow
DB_PASS=autoflow-pass
DB_NAME=autoflow

# Auth
JWT_SECRET=autoflow
JWT_EXPIRES_IN=1d

#New Relic
NEW_RELIC_ENABLED=false
NEW_RELIC_APP_NAME=autoflow-tc
NEW_RELIC_LICENSE_KEY=your_license_key_here
NEW_RELIC_LOG_LEVEL=info